body {
    font-family: "Helveltica", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    width: 30%;
    height: 30px;
}
button {
    width: 80px;
    height: 35px;
    text-decoration: none;
    border: 1px solid black;
}
button:hover {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(39, 39, 39)
}
.project {
    width: 50%;
    height: 250px;
    border: solid 1px black;
    background-color: cadetblue;
    text-align: center;
}
#answer {
    border: solid 1px black;
    background-color: rgb(157, 207, 209);
    width: 50%;
    height: 40px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}
#error {
    color: rgb(252, 59, 59);
}